.hero {
  background: lightgrey;
  height: 300px;
  position: relative;
}

div.profile-photo {
  background: grey;
  border-radius: 5%;
  height: 175px;
  position: absolute;
  top: 100%;
  left: 9%;
  transform: translateY(-50%);
  width: 175px;
}

.profile-container {
  display: flex;
  margin-top: 30px;
}

.user-info {
  background: #e4e4e4;
  flex-grow: 1;
  height: 300px;
  margin: 0 20px;
}

.goal-container {
  background: #bdbdbd;
  flex-grow: 2;
  height: 300px;
  margin: 0 20px;
}
